.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 30px;
    flex-grow: 1;
    font-size: 16px;
}

.search-button {
    background: none;
    border: none;
    color: #333;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #f0f0f0;
}
.search-results {
    width: 55%;
    margin-left: 14pc;
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    margin-top: 10px;
    /* overflow: hidden; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-item img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
  }
  
  .product-details h3 {
    margin: 0;
    font-size: 1.1em;
    color: #333;
  }
  
  .product-details p {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
  }
    