.register-page {
    width: 100%;
    height: 100vh;
    background-image: url(img/register_bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-box {
    width: 500px;
    height: 500px;
    /* background-color: rgba(129, 128, 128,0.2); */
    border-radius: 5px;
}

.register-box input {
    margin: 10px;
    width: 90%;
    height: 40px;
    background-color: rgba(112, 110, 250, 0.1);
    border: none;
    outline: none;
    text-align: center;
    margin: 20px;
    margin-left: 20px;
}

.register-box>.name {
    margin: 20px;
    width: 41%;
}

.register-box>.name1 {
    margin: 20px;
    width: 41%;
    background-color: rgba(112, 110, 250, 0.1);
    height: 40px;
    border: none;
    outline: none;
    padding-left: 30px;
    color: gray;
}

.register-box>.rsubmit {
    background-color: rgba(58, 30, 238, 0.5);
    cursor: pointer;
}

.register-box>.rsubmit:hover {
    color: white;
    background-color: rgba(58, 30, 238, 0.7);

}